.scroll-to-top {
    right: 0.9375rem;
    bottom: -6.25rem;
    opacity: 0.65;
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;
    width: 2.5rem;
    height: 2.5rem;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    opacity: 1;
}

.scroll-to-top:not(:disabled) {
    transform: translateY(-8.25rem);
}
