.button {
    background: none;
    border: none;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99%;
}

.button svg {
    font-size: 1.5em;
}
