.jsonToolBar {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #eeeeee;
    padding: 10px;
}

.textAlign {
    text-align: right;
}

.versionItem {
    display: flex;
    justify-content: space-between;
}

.versionItem div {
    display: flex;
    flex-direction: column;
}

.jsonDropDown {
    margin-bottom: 0px;
}

.jsonDropDown,
.buttonContainer {
    display: inline-flex;
    align-items: center;
}

.jsonDiffHeader {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.buttonContainer {
    margin-left: 20px;
}
