<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-form-field class="search-bar-select">
	  <mat-select (selectionChange)="select($event)">
	  	<mat-select-trigger>
		  	<i class="icon-badge icon-badge-xs fa {{(selected$ | async)?.icon.name}} align-middle"
		  		[style.background-color]="(selected$ | async)?.icon.color"></i>
		    {{(selected$ | async)?.name}}
      </mat-select-trigger>
	    <mat-option *ngFor="let contentType of contentTypes$ | async" [value]="contentType">
	    	<i class="icon-badge icon-badge-xs fa {{contentType.icon.name}} align-middle"
	    		[style.background-color]="contentType.icon.color"></i>
	    	{{contentType.name}}
	    </mat-option>
	  </mat-select>
	</mat-form-field>
	<mat-form-field class="search-bar-input">
		<input matInput placeholder="Search..." type="text" name="search" >
	</mat-form-field>
</div>

