<div class="search-bar-container">
    <mat-select
        class="search-bar-select"
        (selectionChange)="selectionChanged.emit(modelcontrol?.value?.name)"
        [formControl]="modelcontrol"
    >
        <mat-select-trigger>
            <i
                class="icon-badge icon-badge-xs icon-badge-inline fa {{
                    modelcontrol?.value?.icon?.name
                }} align-middle mat-elevation-z0"
                [style.background-color]="modelcontrol?.value?.icon?.color"
            ></i>
            {{ modelcontrol?.value?.name }}
        </mat-select-trigger>

        <mat-option *ngFor="let model of models" [value]="model">
            <i
                class="icon-badge icon-badge-xs fa {{ model.icon?.name }} align-middle mat-elevation-z0"
                [style.background-color]="model.icon?.color"
            ></i>
            {{ model.name }}
        </mat-option>
    </mat-select>

    <input
        matInput
        type="text"
        name="search"
        class="search-bar-input"
        [placeholder]="'Search ' + modelcontrol?.value?.name + ' for...'"
        [(ngModel)]="query"
        (input)="onSearchChange()"
    />

    <button class="search-bar-submit" mat-flat-button color="primary">
        <mat-icon matSuffix>search</mat-icon>
    </button>
</div>
