@import "~main-theme.scss";

.search-bar-container {
	background: mat-color($main-theme-primary, 200);
	border: 1px solid mat-color($main-theme-primary, 500);
	border-radius: 6px;
	display: flex;
	font-size: mat-font-size($general-typography, 'body-1');
	height: 50px;
}

.search-bar-select {
	flex: 0 0 200px;

	::ng-deep mat-select-trigger {
		min-height: 30px;
		display: block;
		padding-top: 5px;
	}

	::ng-deep .mat-select-trigger {
		height: 100%;
		padding: 9px 20px;
	}

	::ng-deep .icon-badge {
		margin-right: 5px;
		position: relative;
		top: -1px;
	}
}

.search-bar-input {
	background: #fff;
	border: 0 solid mat-color($main-theme-primary, 500);
	border-left-width: 1px;
	flex: 1 1 auto;
	font-size: 1em;
	padding: 0 20px;

	&.mat-input-element {
		margin-top: 0;
	}
}

.search-bar-submit {
	border-radius: 0 6px 6px 0;
}
