# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc
/ui/dist
/ui/dist-server
/ui/tmp
/ui/out-tsc
/data/
/data2/

# dependencies
/node_modules
/ui/node_modules
/ui/package-lock.json
/nodejs-server-server/node_modules
/nodejs-server-server/package-lock.json
/mongo-replicaset/node_modules
/mongo-replicaset/package-lock.json
/status/node_modules
/status/package-lock.json
/import-export/uui/node_modules
/import-export/uui/package-lock.json
*.node_modules
*.package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/ui/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
