<!-- button color="primary" fxFlex="100px" mat-raised-button style="line-height: inherit; padding: 10px;">
  <i class="icon-badge icon-badge-md alerts-bg-color fa fa-warning" style="margin-bottom: 5px"></i>
  <div style="font-weight: bold">Alerts</div>
  <div>(193)</div>
</button -->
<button color="primary" fxFlex="100px" mat-raised-button style="line-height: inherit; padding: 10px;">
  <i class="icon-badge icon-badge-md howto-bg-color fa i-howto align-middle" style="margin-bottom: 5px"></i>
  <div style="font-weight: bold">Alerts</div>
  <div>(193)</div>
</button>