<div fxLayout="row" class="doc-new-container">
	<mat-card class="mat-elevation-z0" fxFlex="100">
		<med-doc-breadcrumbs [model]="modelStore.currentModel$ | async"></med-doc-breadcrumbs>

		<mat-card-title>
			<i class="icon-badge icon-badge-sm fa {{(modelStore.currentModel$ | async)?.icon?.name }}" [style.background-color]="(modelStore.currentModel$ | async)?.icon?.color"></i>
			{{(modelStore.currentModel$ | async)?.name}}
		</mat-card-title>

		<mat-card-subtitle>
			{{(modelStore.currentModel$ | async)?.description}}
		</mat-card-subtitle>
		
		<mat-card-content>
			<med-document-edit
				[document]="modelStore.currentModel$ | async"
				(liveData)="liveData($event)"
				(isValid)="isValid($event)"
				(isDirty)="isDirty($event)">
			</med-document-edit>
			<button mat-raised-button 
        *ngIf="(privileges$ | async)?.indexOf('create') > -1" 
        (click)="saveDocument()" 
        [disabled]="!isFormValid">Save
      </button>
		</mat-card-content>
	</mat-card>
</div>
