<div *ngIf="modelStore.models$ | async as models">
	<med-search-bar 
		[models]="models" 
		[selectedModel]="modelStore.currentModel$ | async" 
		(selectionChanged)="changeModel($event)"
		(searchChanged)="filterDocuments($event)">
	</med-search-bar>
</div>

<!--

<div *ngIf="{
	filteredDocuments: filteredDocuments$ | async,
	userPrivileges: userPrivileges$ | async,
	currentEdges: currentEdges$ | async,
	selectedModel: selectedModel$ | async,
	selectedModelDocuments: selectedModelDocuments$ | async
} as data">
	<med-search-status
		[resultCount] = "data.selectedModelDocuments?.length"
		[filteredCount] = "data.filteredDocuments?.length"
		[modelName] = "data.selectedModel?.name"
		[actions] = "data.currentEdges"
		[privileges] = "data.userPrivileges"        
		(addNew) = "addNewDocument($event)"
		(sortByChanged)="sortByChanged($event)">
	</med-search-status>

	<med-search-result-list 
		[results]="data.filteredDocuments" 
		[model]="data.selectedModel"
		(loadDocument)="loadDocument($event)">
	</med-search-result-list>
</div>

-->