<div *ngIf="models$ | async as models">
    <med-search-bar 
        [models]="models" 
        [selectedModel]="selectedModel$ | async" 
        (selectionChanged)="selectAndChange($event)"
        (searchChanged)="filterDocuments($event)">
    </med-search-bar>
</div>

<div *ngIf="(filteredDocuments$ | async) as filteredDocuments">
    <med-search-status
        [resultCount] = "(selectedModelDocuments$ | async)?.length"
        [filteredCount] = "filteredDocuments.length"
        [modelName] = "(selectedModel$ | async)?.name"
        addNewLabel = "Add New"
        [canAddNew] = "privileges.includes('create_new')"
        (addNew) = "addNewDocument()"
        (sortByChanged)="sortByChanged($event)">
    </med-search-status>

    <med-search-result-list 
        [results]="filteredDocuments" 
        [model]="selectedModel$ | async">
    </med-search-result-list>
</div>
