<div *ngIf="modelStore.models$ | async as models">
	<med-search-bar 
		[models]="models" 
		[selectedModel]="modelStore.currentModel$ | async" 
		(selectionChanged)="changeModel($event)"
		(searchChanged)="searchTermChanged($event)">
	</med-search-bar>
</div>

<div *ngIf="{
	filteredDocuments: filteredDocuments$ | async,
	userPrivileges: userPrivileges$ | async,
	currentEdges: workflowStore.currentEdges$ | async,
	currentModel: modelStore.currentModel$ | async,
	currentModelDocuments: modelStore.currentModelDocuments$ | async
} as data">
	<med-search-status
		[resultCount] = "data.currentModelDocuments?.length"
		[filteredCount] = "data.filteredDocuments?.length"
		[modelName] = "data.currentModel?.name"
		[actions] = "data.currentEdges"
		[privileges] = "data.userPrivileges"        
		(addNew) = "addNewDocument($event)"
		(sortByChanged)="sortByChanged($event)">
	</med-search-status>

	<med-search-result-list 
		[results]="data.filteredDocuments" 
		[model]="data.currentModel"
		(loadDocument)="loadDocument($event)">
	</med-search-result-list>
</div>
