// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$main-theme-primary: mat-palette($mat-grey, 100, 50, 200);
$main-theme-accent: mat-palette($mat-light-blue);
$main-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$main-theme: mat-light-theme(
  $main-theme-primary,
  $main-theme-accent,
  $main-theme-warn
);

.success-notification, 
.fail-notification {
	margin-top: 15px !important;
	padding: 6px 10px !important;
	background-color: #C8E6C9 !important;
	border: 2px solid;
	border-color: #4CAF50;
	color: #212121 !important;
}

.fail-notification {
	background-color: #FFCDD2 !important;
	border-color: #F44336;
}
