// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$main-theme-primary: mat-palette($mat-grey, 100, 50, 200);
$main-theme-accent: mat-palette($mat-light-blue);
$main-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$main-theme: mat-light-theme(
  $main-theme-primary,
  $main-theme-accent,
  $main-theme-warn
);