/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// @include mat-core();

// $my-app-primary: mat-palette($mat-blue-grey);
// $my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
// $my-app-warn:    mat-palette($mat-deep-orange);

// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// @include angular-material-theme($my-app-theme);

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}


.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}
