/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}


.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}
