/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/theming';
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$main-theme-primary: mat-palette($mat-grey, 100, 50, 200);
$main-theme-accent: mat-palette($mat-light-blue);
$main-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$main-theme: mat-light-theme(
  $main-theme-primary,
  $main-theme-accent,
  $main-theme-warn
);

$general-typography: mat-typography-config(
  $font-family: '"Roboto"',
  $body-2:        mat-typography-level(14px, 24px, 400)  
);

// always include only once per project
@include mat-core($general-typography);

// import our custom theme
@import 'main-theme';

// specify theme class eg: <body class="my-theme"> ... </body>
.main-theme {

  // use our theme with angular-material-theme mixin
  @include angular-material-theme($main-theme);
}

.mat-input-element {
	caret-color: #000000 !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

meditor-app {
	display: block;
	height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  // -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}

.align-middle {
  display: inline-block;
  vertical-align: middle;
}

/********************************/
/* START - Content Type Icons   */
/********************************/

@mixin iconBadge($name, $diameter, $font-size, $lineheight) {
  .icon-badge-#{$name} {
    width: $diameter;
    height: $diameter;
    line-height: $lineheight !important;
    font-size: $font-size !important;
  }
  .icon-badge-title-#{$name} {
    width: calc(100% - #{$diameter + 10px});
  }
}

@include iconBadge("inline", 18px, 12px, 18px);
@include iconBadge("xs", 20px, 10px, 20px);
@include iconBadge("sm", 36px, 22px, 38px);
@include iconBadge("md", 44px, 24px, 46px);
@include iconBadge("lg", 64px, 36px, 66px);

.icon-badge {
  border-radius: 50%;
  text-align: center;
  background-color: gray;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #F2F2F2;
}

.fa-warning:before {
  bottom: 1px;
  position: relative;
}
/*******************************/
/* END - Content Type Icons    */
/*******************************/

.layout-root-widget {
	margin: 20px 0;
}


.success-notification, 
.fail-notification {
	margin-top: 15px !important;
	padding: 6px 10px !important;
	background-color: #C8E6C9 !important;
	border: 2px solid;
	border-color: #4CAF50;
	color: #212121 !important;
}

.fail-notification {
	background-color: #FFCDD2 !important;
	border-color: #F44336;
}


