<div class="history-header">
  <h3>History</h3>
  <button mat-icon-button class="close-icon" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<cdk-virtual-scroll-viewport itemSize="50" class="history-content-container">
  <div *cdkVirtualFor="let historyItem of dochistory" (click)="loadVersion.emit(historyItem.modifiedOn)">
    <mat-card class="history-item" [ngClass]="[historyItem.modifiedOn == selectedHistory ? 'history-item-selected' : '']">
      <div class="modified-on-label">{{historyItem.modifiedOn | date:'medium' }}</div>
      <div class="modified-by-label">by {{historyItem.modifiedBy}}</div>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>
<div *ngIf="!dochistory.length">Nothing here yet...</div>
