h3 {
	padding: 24px 24px 0 24px;
	font-size: 1.5em;
	font-weight: bold;
}

.history-content-container {
	padding: 0 24px 24px 24px;
	overflow-y: scroll;
}

.history-item {
	margin-top: 5px;
	padding: 15px;
}

.history-item:hover {
	background-color: #c0efb8;
	cursor: pointer;
}

.history-item-selected {
	background-color: #97b8ed;
}

.history-item-selected:hover {
	background-color: #97b8ed;
}

.modified-on-label {
	text-decoration: underline;
	text-decoration-color: blue;
	color: blue;
}
