@import "~main-theme.scss";

h3 {
	font-size: 1.5em;
	font-weight: bold;
}

.history-item {
	margin-top: 5px;
	padding: 15px;
	transition: background .15s ease;
}

.history-item:hover {
	background-color: mat-color($main-theme-primary);
	cursor: pointer;
}

.history-item-selected,
.history-item-selected:hover {
	background-color: mat-color($main-theme-accent, 200);
}

.modified-on-label {
	text-decoration: underline;
	text-decoration-color: blue;
	color: blue;
}
