.history-item {
	margin-top: 5px;
	padding: 15px;
}

.history-item:hover {
	background-color: #c0efb8;
	cursor: pointer;
}

.history-item-selected {
	background-color: #97b8ed;
}

.history-item-selected:hover {
	background-color: #97b8ed;
}

.modified-on-label {
	text-decoration: underline;
	text-decoration-color: blue;
	color: blue;
}
