<div fxLayout="row" fxLayoutAlign="center start" class="search-status-bar">
	<div fxFlex="60">
		Showing {{ filteredCount > 0 ? 1 : 0 }} - {{ filteredCount }} of {{ resultCount }} {{modelName}} documents
	</div>
	
	<div fxFlex="4" fxFlexOffset="20" class="sortby-select">
		Sort&nbsp;by:
	</div>
	
	<div fxFlex="8" class="sortby-select mr-2">
		<mat-select [(value)]="sortBy" (selectionChange)="sortByChanged.emit(sortBy)">
			<mat-option value="oldest">Oldest</mat-option>
			<mat-option value="newest">Newest</mat-option>
		</mat-select>
	</div>

	<div fxFlex *ngIf="privileges.includes('create_new')">
		<ng-container *ngFor="let action of actions">
			<button mat-raised-button color="accent" class="add-new-button" (click)="addNew.emit()" >
				<mat-icon>add</mat-icon>
				{{ action.label }}
			</button>
		</ng-container>
	</div>
</div>
