<div fxLayout="row" fxLayoutAlign="center start" class="search-status-bar">
	<div fxFlex="60">
		Showing {{ filteredCount > 0 ? 1 : 0 }} - {{ filteredCount }} of {{ resultCount }} {{modelName}} documents
	</div>
	<div fxFlex="8" fxFlexOffset="20" class="sortby-select">
		Sort by:
	</div>
	<div fxFlex="8" class="sortby-select">
		<mat-select [(value)]="sortBy">
			<mat-option value="oldest">Oldest</mat-option>
    	<mat-option value="newest">Newest</mat-option>
		</mat-select>
	</div>
	<div fxFlex dir="ltr" *ngIf="canAddNew">
		<button mat-raised-button color="primary" class="add-new-button" (click)="addNew.emit()" >
			<mat-icon>add</mat-icon>{{ addNewLabel }}
		</button>
	</div>
</div>
