.search-status-bar {
	margin-top: 40px;
	margin-bottom: 30px;
	color: grey;
}

.add-new-button {
	margin-top: -10px;
	margin-left: 10px;
	width: 120px;
}

.add-new-button mat-icon {
	margin-right: 5px;
}

.sortby-select {
	margin-left: 10px;
	margin-right: 10px;
}
