.search-status-bar {
	margin-bottom: 30px;
	color: grey;
}

.add-new-button {
	margin-top: -10px;
	margin-left: 10px;
	width: 120px;
	background-color: #4286f4;
}

.sortby-select {
	margin-left: 10px;
}
