<div fxLayout="row" class="doc-edit-container">
	<mat-card fxFlex="75">
		<mat-sidenav-container
	    class="comment-sidenav-container" (backdropClick)="close()">
			<mat-sidenav #sidenav (keydown.escape)="close()" class="comment-sidenav">
		    <button type="submit" mat-raised-button (click)="toggleForm()" *ngIf="!showForm" class="new-comment-button">
					<mat-icon>comment</mat-icon>
		      New comment
		    </button>
		    <button mat-raised-button (click)="close()" class="close-sidenav-button" color="warn">
		    	<mat-icon>close</mat-icon>
		    	Close
		    </button>
		    <button mat-raised-button (click)="toggleResolvedComments()" class="resolved-sidenav-button">
		    	<mat-icon>{{ showResolved ? 'visibility_off' : 'visibility' }}</mat-icon>
		    	{{ showResolved ? 'Hide resolved': 'Show all'}}
		    </button>
			  <mat-card class="reply-card" *ngIf="showForm">
			    <mat-card-content>
			      <mat-form-field class="reply-form-field">
			        <textarea matInput placeholder="Comment" [(ngModel)]="commentText"></textarea>
			      </mat-form-field>
			     </mat-card-content>
				  <mat-card-actions>
				    <button mat-raised-button class="action-button" (click)="submitComment()">
				      <mat-icon>send</mat-icon>
				      Send
				    </button>
				    <button mat-raised-button class="action-button" color="warn" (click)="toggleForm()">
				      <mat-icon>cancel</mat-icon>
				      Cancel
				    </button>
				  </mat-card-actions>
			  </mat-card>
		    <med-comment
		    	[comments]="comments$ | async"
		    	[tree]="true"
		    	[showResolved]="showResolved"
		    	(resolveComment)="resolveComment($event)"
		    	(replyComment)="submitComment($event.text, $event.parentId)">
		    </med-comment>
		  </mat-sidenav>
			<mat-sidenav-content>
		    <mat-card-title>
					<i class="icon-badge icon-badge-sm fa {{(model$ | async)?.icon?.name }}" [style.background-color]="(model$ | async)?.icon?.color"></i>
					{{(model$ | async)?.name}}
				</mat-card-title>
				<mat-card-subtitle>
					{{(model$ | async)?.description}}
				</mat-card-subtitle>
				<mat-card-content>
					<button mat-mini-fab class="comment-btn" matBadge="{{(comments$ | async)?.length}}" matBadgeColor="warn" (click)="sidenav.open()"><mat-icon>question_answer</mat-icon></button>
					<med-document-edit
						[document]="document$ | async"
						(submitDocument)="submitDocument($event)">
					</med-document-edit>
				</mat-card-content>
	  	</mat-sidenav-content>
		</mat-sidenav-container>
	</mat-card>
	<div fxFlex="2"></div>
	<div fxFlex="23">
		<med-doc-history
			[dochistory]="history$ | async"
			[selectedHistory]= "selectedHistory$ | async"
			(loadVersion)="loadVersion($event)"></med-doc-history>
	</div>
</div>
