<div fxLayout="row" class="doc-edit-container">
	<mat-card fxFlex="100" class="mat-elevation-z0">
		<mat-drawer-container
			class="comment-sidenav-container"
		>
			<mat-drawer
				#sidenav
				(keydown.escape)="sidenav.close()"
				(closedStart)="resetSidenav()"
				class="comment-sidenav"
				[position]="'end'"
				[mode]="'side'"
			>
				<ng-container *ngIf="showHistory">
					<div *ngIf="documentStore.currentDocumentHistory$ | async as history">
						<med-doc-history
							[dochistory]="history"
							[selectedHistory]="version$ | async"
							(closeSidenav)="sidenav.close()"
							(loadVersion)="loadVersion($event)"
						>
						</med-doc-history>
					</div>
				</ng-container>
				<ng-container *ngIf="showComments">
					<div *ngIf="documentStore.currentDocumentComments$ | async as comments">
						<med-comments
							[comments]="comments"
							[versionFilter]="versionFilter"
							[user]="userStore.user$ | async"
							(closeSidenav)="sidenav.close()"
							(resolveComment)="documentStore.resolveComment($event)"
							(submitComment)="documentStore.createComment($event)"
							(editComment)="documentStore.updateComment($event.id, $event.text)"
						>
						</med-comments>
					</div>
				</ng-container>
			</mat-drawer>

			<mat-drawer-content class="editor-form">
				<med-doc-breadcrumbs
					[document]="documentStore.currentDocument$ | async"
					[model]="modelStore.currentModel$ | async"
				></med-doc-breadcrumbs>

				<mat-card-title>
					<i
						class="icon-badge icon-badge-sm fa {{
							(modelStore.currentModel$ | async)?.icon?.name
						}}"
						[style.background-color]="(modelStore.currentModel$ | async)?.icon?.color"
					></i>
					{{ (modelStore.currentModel$ | async)?.name }}
				</mat-card-title>

				<mat-card-subtitle>
					{{ (modelStore.currentModel$ | async)?.description }}
				</mat-card-subtitle>

				<mat-card-content>
					<div class="button-panel">
						<button
							mat-mini-fab
							*ngIf="(workflowStore.currentNodeUserPrivileges$ | async).includes('comment')"
							matBadge="{{ commentsCount$ | async }}"
							matBadgeColor="warn"
							(click)="toggleDocumentComments()"
						>
							<mat-icon>question_answer</mat-icon>
						</button>

						<button
							mat-mini-fab
							matBadge="{{ versionsCount$ | async }}"
							matBadgeColor="warn"
							(click)="showDocumentHistory()"
						>
							<mat-icon>history</mat-icon>
						</button>
						<mat-chip-list class="state-chip">
							<mat-chip>{{ (documentStore.currentDocument$ | async)["x-meditor"].state }}</mat-chip>
						</mat-chip-list>
						<span class="version-info"
							>(edited by {{ (documentStore.currentDocument$ | async)["x-meditor"].modifiedBy }} on
							{{
								(documentStore.currentDocument$ | async)["x-meditor"].modifiedOn | date: "medium"
							}})</span
						>
					</div>
					
					<med-document-edit
						[readonly]="!(workflowStore.currentNodeUserPrivileges$ | async).includes('edit')"
						[document]="documentStore.currentDocument$ | async"
						(liveData)="liveData($event)"
						(isValid)="isValid($event)"
						(isDirty)="isDirty($event)"
					>
					</med-document-edit>
					<button
						mat-raised-button
						*ngIf="(workflowStore.currentNodeUserPrivileges$ | async).includes('edit')"
						(click)="saveDocument()"
						[disabled]="!isFormValid || !dirty"
					>
						Save
					</button>
					<med-document-actions
						*ngIf="(documentStore.currentDocument$ | async)['x-meditor'].targetStates.length > 0"
						[actions]="workflowStore.currentEdges$ | async"
						(updateState)="updateState($event)"
						[formIsDirty]="dirty"
					>
					</med-document-actions>
				</mat-card-content>
			</mat-drawer-content>
		</mat-drawer-container>
	</mat-card>
</div>
