.doc-edit-container {
	margin-top: 5px;
	margin-bottom: 5px;
}

.comment-sidenav-container {
	background-color: white;
}

.comment-sidenav {
	width: 30%;
	min-width: 430px;
}

.button-panel {
	display: flex;
  justify-content: flex-start;
}

.button-panel > button {
  margin-right: 0.5em;
}

.readonly-doc {
	pointer-events: none;
}

.mat-drawer {
  padding-left: 30px;
	padding-bottom: 30px;
}


.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
  margin-top: 102px;
  height: 80%;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.state-chip {
	display: inline-flex;
  margin-left: 1em;
}

.version-info {
  font-style: italic;
  margin-left: 1em;
  margin-top: auto;
}


