<div fxLayout="row" class="doc-edit-container">
	<mat-card fxFlex="100" class="mat-elevation-z0">
		<mat-drawer-container class="comment-sidenav-container" (backdropClick)="sidenav.close()">
			<mat-drawer #sidenav 
      (keydown.escape)="sidenav.close()" 
      (closedStart)="resetSidenav()" 
      class="comment-sidenav" 
      [position]="'end'">
        <ng-container *ngIf="showHistory"> 
          <div *ngIf="history$ | async as history">
            <med-doc-history
              [dochistory]="history"
              [selectedHistory]= "version$ | async"
              (loadVersion)="loadVersion($event)">
            </med-doc-history>
          </div>
        </ng-container>
        <ng-container *ngIf="showComments">
          <div *ngIf="comments$ | async as comments">
            <med-comments
              [comments]="comments"
              [versionFilter]="versionFilter"
              (closeSidenav)="sidenav.close()"
              (resolveComment)="resolveComment($event)"
              (submitComment)="submitComment($event)">
            </med-comments>
          </div>
        </ng-container>
			</mat-drawer>

			<mat-drawer-content class="editor-form">
				<mat-card-title>
					<i class="icon-badge icon-badge-sm fa {{(model$ | async)?.icon?.name }}" [style.background-color]="(model$ | async)?.icon?.color"></i>
					{{(model$ | async)?.name}}
				</mat-card-title>

				<mat-card-subtitle>
					{{(model$ | async)?.description}}
				</mat-card-subtitle>

				<mat-card-content>
					<div class="button-panel">
						<button mat-mini-fab
							matBadge="{{commentsCount$ | async}}"
							matBadgeColor="warn" 
              (click)="showDocumentComments()">
							<mat-icon>question_answer</mat-icon>
						</button>
						<button mat-mini-fab 
              matBadge="{{versionsCount$ | async}}"
							matBadgeColor="warn"
              (click)="showDocumentHistory()">
							<mat-icon>history</mat-icon>
						</button>
					</div>							
					<med-document-edit 
						[class.readonly-doc]="!(userPrivileges$ | async).includes('edit')"
						[document]="document$ | async"
						(liveData)="liveData($event)"
						(isValid)="isValid($event)">
					</med-document-edit>
          <button mat-raised-button 
            *ngIf="(userPrivileges$ | async).includes('edit')" 
            (click)="saveDocument()" 
            [disabled]="!isFormValid">Save
          </button>
					<med-document-actions *ngIf="(document$ | async)['x-meditor'].targetStates.length > 0"
						[actions]="edges$ | async"
						(updateState)="updateState($event)">
					</med-document-actions>	
				</mat-card-content>
			</mat-drawer-content>
		</mat-drawer-container>
	</mat-card>
</div>
