<button mat-raised-button
 *ngIf="showExpandButton"
 (click)="toggleAllSections()" 
  style="margin-top: 1em;">{{ expandAll ? 'Expand all' : 'Collapse all' }}</button>
<json-schema-form *ngIf="schema"
	[schema] = "schema"
	[layout] = "layout"
	[defaultLayoutOptions] = "defaultLayoutOptions"
	[data] = "data"
	[options]="jsonFormOptions"
	[framework]="selectedFramework"
	[loadExternalAssets]="true"
	(onChanges)="onChanges($event)"
	(isValid)="isFormValid($event)"
	(validationErrors)="validationErrors($event)">
</json-schema-form>

