<div *ngFor="let comment of comments" class="comments-container">
  <mat-card class="example-card">
    <mat-card-header *ngIf="!comment.deleted">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Author: {{comment.author}}</mat-card-title>
      <mat-card-subtitle>_id: {{comment._id}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="!comment.deleted">
      {{comment.text}}
    </mat-card-content>

    <mat-card-content *ngIf="comment.deleted" class="deleted-comment">
      Comment has been deleted!
    </mat-card-content>

    <mat-card-actions >
      <button mat-button color="primary" *ngIf="!comment.deleted"
      	(click)="replyTo(comment._id, comment._parentId)">
      	<mat-icon>reply</mat-icon>Reply
      </button>

      <button mat-button color="primary"
      	(click)="showReplies(comment._id)"
      	*ngIf="comment.children.length>0">
      	{{comment.visible? 'Hide ' : 'Show '}}
      	{{comment.children.length > 1 ? comment.children.length + ' replies' : '1 reply'}}
      </button>

      <button mat-button color="warn" *ngIf="!comment.deleted"
      	(click)="delete(comment._id)">
      	<mat-icon>delete</mat-icon>Delete
      </button>
    </mat-card-actions>
      <form [formGroup]="commentForm" (ngSubmit)="onFormSubmit(commentForm.value)" *ngIf="comment.replyTo">
        <mat-card class="reply-card">
        	<mat-card-content>
	          <mat-form-field class="reply-form-field">
	            <input matInput placeholder="Author" formControlName="author">
	          </mat-form-field>
	          <mat-form-field class="reply-form-field">
	            <textarea matInput placeholder="Comment" formControlName="text"></textarea>
	          </mat-form-field>
	          <input
	            type="hidden" formControlName="_parentId" [ngModel]="comment._id">
	         </mat-card-content>
	      <mat-card-actions>
	        <button type="submit" mat-button color="primary">
	        	<mat-icon>send</mat-icon>
      			Send
	        </button>
	        <button mat-button color="primary" (click)="comment.replyTo = false">
	        	<mat-icon>close</mat-icon>
	        	Close
	        </button>
	      </mat-card-actions>
       </mat-card>
      </form>
  </mat-card>
  <med-comment [comments]="comment.children" *ngIf="comment.children && comment.visible"></med-comment>
</div>
