.comments-container {
	margin-left: 5px;
	margin-top: 10px;
}

.comment-card {
	width: 90%;
}

.reply-card {
	width: 90%;
	margin-top: 10px;
	margin-left: 10px;
}

med-comment > .comments-container {
	margin-left: 25px;
	margin-top: 10px;
}

med-comment > .comments-container > .comment-card {
	width: 95%;
}

.reply-form-field {
	width: 100%;
}

.reply-button {
	background-color: #03a9f4;
}

.resolve-button {
	background-color: #3cb44b;
}

.comment-header-image {
	background-image: url('https://i.imgflip.com/cnudu.jpg');
  background-size: cover;
}



