<div *ngFor="let comment of extComments" class="comments-container">
	<mat-card class="comment-card" 
    *ngIf="_showResolved || !comment.resolved" 
    [class.comment-resolved]="comment.resolved">
		<mat-card-header>
			<div mat-card-avatar class="comment-header-image"></div>
			<mat-card-title class="comment-created-by">{{comment.createdBy}}</mat-card-title>
			<mat-card-subtitle class="comment-created-on">{{comment.createdOn | date: 'short' }}</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content class="comment-text">
			{{comment.text}}
		</mat-card-content>

		<mat-card-actions *ngIf="!comment.resolved">
			<button mat-icon-button class="reply-button"
				(click)="openReplyForm(comment._id)">
				<mat-icon>reply</mat-icon>
			</button>
			<button mat-icon-button class="resolve-button"
        *ngIf="comment.parentId == 'root'"
				(click)="resolve(comment._id)">
				<mat-icon>done</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="reply-card" *ngIf="comment.replyTo">
    <mat-card-content>
      <mat-form-field class="reply-form-field">
        <textarea matInput #commentForm placeholder="Comment" [(ngModel)]="commentText"></textarea>
      </mat-form-field>
     </mat-card-content>
	  <mat-card-actions>
	    <button mat-icon-button class="action-button" (click)="submitComment(comment._id, comment.parentId)">
	      <mat-icon>send</mat-icon>
	    </button>
	    <button mat-icon-button class="action-button" (click)="closeReply(comment._id)">
	      <mat-icon>cancel</mat-icon>
	    </button>
	  </mat-card-actions>
  </mat-card>
	<med-comment *ngIf="comment.children" #commentThread
  	[comments]="comment.children"
  	[tree]="false"
  	[showResolved]="_showResolved"
    [parentId] = "comment._id"
  	(resolveComment)="resolve($event)"
		(replyComment)="submitChildComment($event)">
  </med-comment>
</div>
