<div *ngFor="let comment of extComments" class="comments-container">
	<mat-card class="comment-card" 
    *ngIf="_showResolved || !comment.resolved || comment.edit" 
    [class.comment-resolved]="comment.resolved">
		<mat-card-header>
			<img mat-card-avatar src="https://bugs.earthdata.nasa.gov/secure/useravatar?size=large&ownerId={{comment.userUid || 'undefined'}}">
			<mat-card-title class="comment-created-by">{{comment.createdBy}}</mat-card-title>
			<mat-card-subtitle class="comment-created-on">{{comment.createdOn | date: 'short' }}</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content class="comment-text" *ngIf="!comment.edit">
			<div>{{comment.text}}</div>
      <div *ngIf="comment.lastEdited" class="last-edited">Edited on {{ comment.lastEdited | date: 'short' }}</div>
		</mat-card-content>

    <mat-card-content *ngIf="comment.edit"t>
      <mat-form-field class="edit-form-field">
        <textarea matInput #editForm [(ngModel)]="commentText"></textarea>
      </mat-form-field>
    </mat-card-content>

		<mat-card-actions *ngIf="!comment.resolved && !comment.edit">
			<button mat-icon-button matTooltip="Reply"
				(click)="openReplyForm(comment._id)">
				<mat-icon>reply</mat-icon>
			</button>
      <button *ngIf="_user.uid === comment.userUid"
        mat-icon-button matTooltip="Edit"
				(click)="openEditForm(comment._id, comment.text)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button matTooltip="Resolve" 
        *ngIf="comment.parentId == 'root'"
				(click)="resolve(comment._id)">
				<mat-icon>done</mat-icon>
			</button>
		</mat-card-actions>

    <mat-card-actions *ngIf="comment.edit">
			<button mat-icon-button matTooltip="Send"
				(click)="sendEditComment(comment._id)">
				<mat-icon>send</mat-icon>
			</button>
      <button mat-icon-button matTooltip="Close"
				(click)="closeEditForm(comment._id)">
				<mat-icon>close</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="reply-card" *ngIf="comment.replyTo">
    <mat-card-content>
      <mat-form-field class="reply-form-field">
        <textarea matInput #commentForm placeholder="Leave your reply here..." [(ngModel)]="commentText"></textarea>
      </mat-form-field>
     </mat-card-content>
	  <mat-card-actions>
	    <button mat-icon-button matTooltip="Send" class="action-button" (click)="submitComment(comment._id, comment.parentId)">
	      <mat-icon>send</mat-icon>
	    </button>
	    <button mat-icon-button matTooltip="Cancel" class="action-button" (click)="closeReply(comment._id)">
	      <mat-icon>cancel</mat-icon>
	    </button>
	  </mat-card-actions>
  </mat-card>
  
	<med-comment *ngIf="comment.children" #commentThread
  	[comments]="comment.children"
    [user] = "_user"
  	[tree]="false"
  	[showResolved]="_showResolved"
    [parentId] = "comment._id"
  	(resolveComment)="resolve($event)"
		(replyComment)="submitChildComment($event)"
    (editComment)="editComment.emit($event)">
  </med-comment>
</div>
