.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-card {
	width: 500px;
}

.comments-container {
	margin-left: 20px;
	margin-top: 10px;
}

.deleted-comment {
	color: grey;
	font-style: italic;
}

.reply-form-field {
	width: 100%;
}

.example-header-image {
	background-image: url('https://bugs.earthdata.nasa.gov/secure/useravatar?size=small&ownerId=mshegde&avatarId=11722');
  background-size: cover;
}



