.badge {
    background-color: #e0e0e0 !important;
    font-size: 1em;
    font-weight: normal;
    margin: 0 10px;
    position: relative;
    padding: 0.4em 1.2em;
}

.publicationBadge {
    margin-left: 5px;
}

.spinner {
    margin-left: 5px;
}

.badge-warning {
    background: #f5d2d3 !important;
}

.badge-info {
    background: #17a2b8 !important;
    color: #fff;
}
