.action {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.action label {
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: 0;
    text-transform: capitalize;
}

.action .alert {
    margin-bottom: 0;
}

.action select,
.action button {
    margin-left: 8px;
}
