.grid {
    display: grid;
    grid-template-columns:
        1fr minmax(130px, 200px) minmax(130px, 200px) minmax(130px, 200px)
        minmax(65px, 150px);
    grid-auto-rows: 1fr;
}

.header {
    font-weight: 600;
    align-self: end;
}

.sort-asc {
    transform: rotate(180deg);
    transition: transform 0.15s ease-in-out;
}

.sort-desc {
    transform: rotate(0deg);
    transition: transform 0.15s ease-in-out;
}

.grid > div {
    padding: 10px;
}

.grid > div:nth-child(5) {
    justify-self: center;
}

.select {
    display: flex;
    align-items: center;
}

.select > input {
    margin-right: 10px;
    margin-bottom: 7px;
}
