.panel {
    border: 1px solid rgba(0, 0, 0, 0.12);
    position: relative;
    background: #fff;
    padding: 20px;
    height: calc(100% - 80px);
    overflow-y: auto;
    flex: 0 auto 430px;
    transition: transform 0.1s linear;
    margin-right: 12px;
    bottom: 60px;
    overscroll-behavior-y: contain;
    padding-block-end: 6rem;
}

.panelLarge {
    flex: 0 auto 860px;
    width: 50%;
}

.panel h3 {
    margin-bottom: 30px;
}

.panelOpen {
    transform: translateX(0px);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
}
