.spacer {
    flex: 1 1 auto;
}

.logo {
  height: 80px;
}

.med-toolbar {
  background: none;
  height: 100%;
}

.tb-button {
    margin-left: 10px;
    color: grey;
}

.links_menu {
  width: 100px;
}