.spacer {
    flex: 1 1 auto;
}

.logo {
    margin-top: -12px;
    height: 64px;
}

.med-toolbar {
    background: none;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.tb-button {
    margin-left: 10px;
    color: grey;
}