.docs {
    padding-top: var(--fifth-scale--5);
}

h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before,
h6[id]::before {
    display: block;
    visibility: hidden;
    margin-top: calc(var(--fifth-scale--5) * -1);
    height: var(--fifth-scale--5);
    pointer-events: none;
    content: ' ';
}

img {
    max-width: 100%;
}
