:root {
    /* sets scale to 1.500 / perfect fifth */
    --fifth-scale--0: 0em;
    --fifth-scale--1: 1em;
    --fifth-scale--2: 2.25em;
    --fifth-scale--3: 3.375em;
    --fifth-scale--4: 5.063em;
    --fifth-scale--5: 7.594em;
}
