.user-guide {
    padding-top: var(--fifth-scale--5);
}

img {
    max-width: 100%;
}

h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
    scroll-snap-margin: var(--fifth-scale--3) 0; /* Safari (MacOS & iOS) > 11 and < 14.1 */
    position: relative;
    scroll-margin: var(--fifth-scale--3) 0;
}

h2[id] > a[href^='#'][aria-hidden='true'][tabindex='-1'],
h3[id] > a[href^='#'][aria-hidden='true'][tabindex='-1'],
h4[id] > a[href^='#'][aria-hidden='true'][tabindex='-1'],
h5[id] > a[href^='#'][aria-hidden='true'][tabindex='-1'],
h6[id] > a[href^='#'][aria-hidden='true'][tabindex='-1'] {
    display: inline-flex;
    position: absolute;
    top: 0.25em;
    left: -2.125rem;
    opacity: 0.2;
    transition: opacity 0.1s ease-out;
    width: 2rem;
    height: 1em;
}

h2[id] > a[href^='#'][aria-hidden='true'][tabindex='-1']:hover,
h3[id] > a[href^='#'][aria-hidden='true'][tabindex='-1']:hover,
h4[id] > a[href^='#'][aria-hidden='true'][tabindex='-1']:hover,
h5[id] > a[href^='#'][aria-hidden='true'][tabindex='-1']:hover,
h6[id] > a[href^='#'][aria-hidden='true'][tabindex='-1']:hover {
    opacity: 1;
}

.icon.icon-link {
    background-image: url('/meditor/docs/md-link.svg');
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

article + article {
    padding-top: var(--fifth-scale--5);
}
