<div class="comments-header">
  <h3>Comments</h3>
  <button mat-icon-button class="close-icon" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="control-panel" fxLayout="row" fxLayoutAlign="start">
  <button fxFlex="50" type="submit" mat-raised-button (click)="toggleForm()" *ngIf="!showForm" class="new-comment-button">
    <mat-icon>comment</mat-icon>
    New comment
  </button>
  <button fxFlex="50" mat-raised-button matTooltip="Show all resolved/unresolved comments" (click)="toggleResolvedComments()" class="resolved-sidenav-button">
    <mat-icon>{{ showResolved ? 'visibility_off' : 'visibility' }}</mat-icon>
    {{ showResolved ? 'Hide resolved': 'Show all'}}
  </button>
</div>
<mat-card class="reply-card" *ngIf="showForm">
  <mat-card-content>
    <mat-form-field class="reply-form-field">
      <textarea matInput placeholder="Leave your comment here..." [(ngModel)]="commentText"></textarea>
    </mat-form-field>
   </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button matTooltip="Send" class="action-button" (click)="submitNewComment()">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Cancel" class="action-button" (click)="toggleForm()">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<med-comment
  [comments]="comments"
  [versionFilter]="versionFilter"
  [user] = "user"
  [tree]="true"
  parentId="root"
  [showResolved]="showResolved"
  (resolveComment)="resolveComment.emit($event)"
  (replyComment)="submitNewComment($event.text, $event.parentId)"
  (editComment)="editComment.emit($event)">
</med-comment>