.control-panel {
  margin: 1em 0;
  padding: 0 24px;
}

h3 {
	padding: 24px 24px 0 24px;
	font-size: 1.5em;
	font-weight: bold;
}

.reply-card {
	margin: 0 24px 24px 24px;
	width: calc(90%-5px);
}

.reply-form-field {
	width: 100%;
}

.action-button {
	margin-left: 20px;
	margin-top: 10px;
}

.new-comment-button,
.close-sidenav-button,
.resolved-sidenav-button {
	margin-right: 5px;
}

.mat-drawer {
	padding-bottom: 30px;
}


