<h3>Comments</h3>
  <div class="control-panel" fxLayout="row" fxLayoutAlign="start">
    <button fxFlex="45" type="submit" mat-raised-button (click)="toggleForm()" *ngIf="!showForm" class="new-comment-button">
      <mat-icon>comment</mat-icon>
      New comment
    </button>
    <button fxFlex="20" mat-raised-button (click)="close()" class="close-sidenav-button">
      <mat-icon>close</mat-icon>
      Close
    </button>
    <button fxFlex="35" mat-raised-button (click)="toggleResolvedComments()" class="resolved-sidenav-button">
      <mat-icon>{{ showResolved ? 'visibility_off' : 'visibility' }}</mat-icon>
      {{ showResolved ? 'Hide resolved': 'Show all'}}
    </button>
  </div>
<mat-card class="reply-card" *ngIf="showForm">
  <mat-card-content>
    <mat-form-field class="reply-form-field">
      <textarea matInput placeholder="Leave your reply here..." [(ngModel)]="commentText"></textarea>
    </mat-form-field>
   </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button class="action-button" (click)="submitNewComment()">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-icon-button class="action-button" (click)="toggleForm()">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<med-comment
  [comments]="comments"
  [versionFilter]="versionFilter"
  [tree]="true"
  [parentId]="root"
  [showResolved]="showResolved"
  (resolveComment)="resolveComment.emit($event)"
  (replyComment)="submitNewComment($event.text, $event.parentId)">
</med-comment>