.panel {
    border: 1px solid rgba(0, 0, 0, .12);
    background: #fff;
    padding: 20px;
    height: calc(100% - 80px);
    overflow-y: auto;
    top: 80px;
    flex: 0 auto 430px;
    right: 15px;
    transition: transform .1s linear;
}

.panelLarge {
    flex: 0 auto 860px;
    width: 50%;
}

.panel h3 {
    margin-bottom: 30px;
}

.panelOpen {
    transform: translateX(0px);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
}

