@import '~reactflow/dist/style.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~flatpickr/dist/themes/light.css';
@import '~@yaireo/tagify/dist/tagify.css';

html,
body {
    background: #f0f0f0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    padding-bottom: 20px;
}

#__next > .container-fluid {
    margin-top: 20px;
}

.page-container {
    background: #fff;
    padding: 15px;
    min-height: calc(100vh - 120px);
    margin-bottom: 50px;
}

.model-select {
    width: 220px;
}

.model-select .model-select__control {
    background: none;
    border: none;
    border-radius: 6px 0 0 6px;
    height: 48px;
}

.model-select .model-select__indicator-separator {
    display: none;
}

.model-select .model-select__option {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.model-select .model-select__option:hover {
    background: #eee;
}

.model-select .model-select__value-container {
    overflow: visible;
}

.model-select .model-select__single-value > div > span {
    width: 2em;
    height: 2em;
}

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    color: #000;
}

.control-label {
    text-transform: capitalize;
}

.required {
    color: #e51c23;
    font-size: 1.1em;
    margin-left: 3px;
}

form.rjsf {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form.rjsf .panel.errors {
    order: 10;
    margin-bottom: 20px;
}

form.rjsf .panel.errors .panel-heading {
    display: none;
}

form.rjsf button[type='submit'] {
    display: none;
}

.container-fluid,
.form-group > .container-fluid {
    width: 100%;
}

.form-group.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group.field-string {
    position: relative;
}

.form-group.collapsed {
    display: none;
}

.collapsible-section ~ .form-group {
    margin-left: 15px;
}

.field-warning {
    position: absolute;
    top: 30px;
    color: orange;
    right: 10px;
    font-size: 1.3em;
}

.form-group.field .checkbox,
.form-group.field legend {
    text-transform: capitalize;
}

.form-group.field .control-label-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.form-group.field .control-label {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
    margin-right: 10px;
}

.form-group.field .control-label ~ svg {
    fill: rgba(0, 0, 0, 0.6);
}

.form-group.field legend {
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
}

.form-group.field legend .required {
    display: none;
}

fieldset.field-array fieldset.field-array {
    margin-left: 30px;
}

.array-item:hover > .array-item-toolbox > .btn-group > .array-item-remove {
    opacity: 1;
}

.array-item-remove {
    background: none;
    border: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.3);
    flex: 0 1 40px !important;
    opacity: 0;
}

.array-item-remove:hover {
    background: none;
    border: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 1);
}

.btn-info,
.btn-info:active {
    color: #fff;
    background: #607d8b !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-info:hover,
.btn-info:focus {
    background: #74919f !important;
}

.dashboard-model {
    background: #eee;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px;
}

.dashboard-model > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 128px;
    overflow: hidden;
}

.dashboard-model > span:first-child {
    font-size: 2.3em;
    margin-bottom: 5px;
    width: 64px;
    height: 64px;
}

#user-menu ~ .dropdown-menu {
    margin-top: 0;
}

.array-item {
    display: flex;
    width: 100%;
    padding: 0 20px;
}

.col-xs-1 {
    flex: 0 0 8.33%;
    width: 8.33%;
}

.col-xs-2 {
    flex: 0 0 16.66%;
    width: 16.66%;
}

.col-xs-3 {
    flex: 0 0 25%;
    width: 25%;
}

.col-xs-4 {
    flex: 0 0 33.33%;
    width: 33.33%;
}

.col-xs-5 {
    flex: 0 0 41.66%;
    width: 41.66%;
}

.col-xs-6 {
    flex: 0 0 50%;
    width: 50%;
}

.col-xs-7 {
    flex: 0 0 58.33%;
    width: 58.33%;
}

.col-xs-8 {
    flex: 0 0 66.66%;
    width: 66.66%;
}

.col-xs-9 {
    flex: 0 0 75%;
    width: 75%;
}

.col-xs-10 {
    flex: 0 0 83.33%;
    width: 83.33%;
}

.col-xs-11 {
    flex: 0 0 91.66%;
    width: 91.66%;
}

.col-xs-12 {
    flex: 0 0 100%;
    width: 100%;
}

.modal-sm {
    max-width: 400px;
}
