@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
    background: #f0f0f0;
    font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    padding-top: 80px;  /* for the fixed header */
    padding-bottom: 20px;
}

#__next > .container-fluid {
    margin-top: 20px;
}

.page-container {
    background: #fff;
    padding: 15px;
}

.model-select {
    width: 220px;
}

.model-select .model-select__control {
    background: none;
    border: none;
    border-radius: 6px 0 0 6px;
    height: 48px;
}

.model-select .model-select__indicator-separator {
    display: none;
}

.model-select .model-select__option {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.model-select .model-select__option:hover {
    background: #eee;
}
