$loading-size: 100px !default;
$loading-spinner-size: 30px !default;

.med-loading {
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -($loading-size / 2);
    margin-left: -($loading-size / 2);
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    width: $loading-size;
    height: $loading-size;
    z-index: 999;
    transform: scale(0) !important;
    transition: all .15s ease;

    &.active {
        opacity: 1;
        transform: scale(1) !important;
    }
}

.mat-progress-spinner,
.mat-progress-spinner ::ng-deep svg {
    max-width: $loading-spinner-size !important;
    max-height: $loading-spinner-size !important;
}

.mat-progress-spinner {
    margin-bottom: 10px;
}

.mat-progress-spinner ::ng-deep svg {
    fill: #fff;
}